@import "~bootstrap/scss/bootstrap.scss";

h1 {
   font-family: 'Do Hyeon', sans-serif;
}

.grid {
    background-color: #74ccf4;
    border: 1px solid whitesmoke;
    color: #00008B;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    height: 50px;
    justify-content: center;
    text-align: center;
    width: 20px;  
}

.line {
    color: grey;
    border: 1px solid #eee;
    text-align: justify;
}

.turn-on {
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}

.light {
     cursor: pointer;
}

.water {
    background-color: #256d7b;
}

.fire {
    background-color: #DC143C;
}

.ship {
    background-color: #686868;
    opacity: 0,5; 
}

.ship:hover {
    background-color:#686850;
}






/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
